
@{ 
    ViewData["Title"] = "Index";
}

<div class="row header" >
    <div class="col-md-12" >
        <h3>Categories</h3>
        <a href="/Category/CreateOrEdit" class="btn-primary btn-primary" >New</a>
    </div>

    <div class="row" >
        <div class="col-md-12" >
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <td>Category's Name </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Categoria</td>
                        <td><a href="https://google.com" >Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>